figure {
  display: flex;
  align-items: center;
  gap: 16px;
}
figure:not(:last-of-type) {
  margin-bottom: 16px;
}
figure img,
figure picture,
figcaption {
  min-width: 0;
  flex: 1;
}
.divider {
  height: 100%;
  display: flex;
  align-items: center;
}
.divider::after {
  content: "";
  height: 32px;
  border-right: 4px dashed hsl(0deg 0% 50%);
}
.rounded {
  border-radius: 16px;
}
a {
  color: hsl(255deg 100% 50%);
}
