body {
  padding: 0px;
}
html,
body,
#root {
  height: 100%;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  min-height: 100%;
}
